- content_for(:head){ "Monolith - Billings - Invoices"}
.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{href:monolith_path} Monolith
        %li.breadcrumb-item.active Invoices
  .row
    .col-12
      %h2 Invoices
      %p Invoice management for superadmins
      = react_component("InvoiceManager", {})
