- content_for(:head){ "Admin - #{@golf_club.name} Dashboard - "}
.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{ :href => admin_path} Admin
        %li.breadcrumb-item
          %a{ :href => admin_golf_clubs_path} Clubs
        %li.breadcrumb-item
          %a{ :href => admin_golf_club_path(@golf_club) } #{ @golf_club.name }
        %li.active.breadcrumb-item DashBoard
.container-fluid
  = react_component("GolfClubDashboard", { club: @golf_club.attributes.merge({tax_schedule:@golf_club.tax_schedule}),
    token:form_authenticity_token,
    paths:{ club_path:admin_golf_club_path(@golf_club), user_reservations:admin_user_reservations_path} })
