.container
  .col-xs-12
    %ol.breadcrumb
      %li
        %a{ :href => admin_golf_clubs_path} Admin
      %li
        %a{ :href => admin_golf_club_path(@golf_club) } #{ @golf_club.name }
      %li.active Edit
    = react_component( "GolfClubForm", { club:@golf_club, flightSchedules:@golf_club.flight_schedules, chargeSchedules:@golf_club.charge_schedules})
