- content_for(:head){"Editing #{@golf_club.name} -"}
.container
  .row
    .col-xs-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{ :href => admin_golf_clubs_path} Admin
        %li.breadcrumb-item
          %a{ :href => admin_golf_club_path(@golf_club) } #{ @golf_club.name }
        %li.active.breadcrumb-item Edit
  .row
    = react_component( "GolfClubForm", { form:{ crsfToken:form_authenticity_token, action_path:admin_golf_club_path(params[:id]), method:'patch'},
      club:@golf_club.attributes.merge({ "open_hour" => @golf_club.open_hour.strftime("%H:%M"), :close_hour => @golf_club.close_hour.strftime("%H:%M")}),
      flightSchedules:@flight_schedules,
      amenities:@golf_club.amenity_listings,
      flightDummy:@dummy, insurance_modes:ChargeSchedule.insurance_modes.map{ |k,v| k } })
