.container
  %h1 Admin Page
  .row
    .col-xs-12
      %p Show golf clubs that you manage here
      %table.table
        %thead
          %tr
            %th ID
            %th Name
            %th Date Created
        - @golf_clubs.each do |golf_club|
          %tr
            %td #{ golf_club.id }
            %td #{ link_to golf_club.name, admin_golf_club_path(golf_club) }
            %td #{ golf_club.created_at.strftime("%D/%M/%Y")}
  .row
    .col-xs-12
      %a.btn.btn-primary{ :href => new_admin_golf_club_path } New
