- content_for(:head){ "Admin - Clubs"}
.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{href:admin_path} Admin Console
        %li.breadcrumb-item.active Golf Clubs
  .row.mb-2
    .col-12
      %h2 Golf Clubs
    .col-12
      = react_component("GolfClubManager", {})
  .row
    .col-12
      %a.btn.btn-primary{ :href => new_admin_golf_club_path } New
