.container
  .row
    .col-xs-12
      %ol.breadcrumb
        %li
          %a{ :href => admin_golf_clubs_path} Admin
        %li.active New
  .row
    = react_component( "GolfClubForm", { form:{ crsfToken:form_authenticity_token, action_path:admin_golf_clubs_path, method:'post'},
      club:@golf_club,
      flightSchedules:@flight_schedules,
      amenities:@golf_club.amenity_listings,
      flightDummy:@flight_schedules.first })
