.container
  .row
    .col-xs-12
      %ol.breadcrumb
        %li
          %a{ :href => admin_golf_clubs_path} Admin
        %li.active New
  .row
    = react_component( "GolfClubForm", { form:{ crsfToken:form_authenticity_token, action_path:admin_golf_clubs_path},
      club:@golf_club,
      flightSchedules:@flight_schedules,
      chargeSchedules:@charge_schedules,
      flightDummy:FlightSchedule.new})
