.container
  .row
    .col-xs-12
      %button.btn.btn-primary#recreate-versions{ :type => "button" } Recreate Photos
:javascript
  $('#recreate-versions').click(function(){
    console.log("clicked recreate versions")
    
  });
