files:
  "/opt/elasticbeanstalk/hooks/preinit/21_install_mjml.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      . /opt/elasticbeanstalk/hooks/common.sh
      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_GEM_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k gem_dir)

      #node already installed in yum_packages.config
      #install mjml and link it to /usr/bin
      /usr/bin/npm install -g mjml@^3.0

      ln -sf /usr/lib/node_modules/mjml/bin/mjml /usr/local/bin
