files:
  "/opt/elasticbeanstalk/hooks/preinit/21_install_mjml.sh":
    mode: "000777"
    content: |
      . /opt/elasticbeanstalk/hooks/common.sh
      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_GEM_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k gem_dir)

      #install npm first
      /opt/elasticbeanstalk/hooks/preinit/27_nodejs.sh

      #install mjml and link it to /usr/bin
      /usr/bin/npm install -g mjml@^3.0

      EB_NODE_INSTALL_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k node_install_dir)
      EB_NODE_VERSION=$(/opt/elasticbeanstalk/bin/get-config container -k node_version)

      MACHINE_TYPE=`uname -m`
      if [ "$MACHINE_TYPE" = "x86_64" ]; then
        ARCH=x64
      elif [ "$MACHINE_TYPE" = "i686" ]; then
        ARCH=x86
      else
        echo "Unknown architecture."
        exit 1
      fi

      echo "EB_NODE_INSTALL_DIR=$EB_NODE_INSTALL_DIR"
      echo "EB_NODE_VERSION=$EB_NODE_INSTALL_DIR"
      echo "ARCH=$ARCH"
      ln -sf $EB_NODE_INSTALL_DIR/node-v$EB_NODE_VERSION-linux-$ARCH/lib/node_modules/mjml/bin/mjml /usr/bin

      #testing in case above doesn't work
      ln -sf /opt/elasticbeanstalk/support/node-install/node-v4.6.0-linux-x64/lib/node_modules/mjml/bin/mjml /usr/local/bin 
