files:
  "/opt/elasticbeanstalk/hooks/preinit/21_install_mjml.sh":
    mode: "000777"
    content: |
      . /opt/elasticbeanstalk/hooks/common.sh
      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_GEM_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k gem_dir)

      #install npm first
      /opt/elasticbeanstalk/hooks/preinit/27_nodejs.sh

      /usr/bin/npm install -g mjml@^3.0
