# Based on http://blog.noizeramp.com/2013/04/21/using-sidekiq-with-elastic-beanstalk/.
# If we want to try to improve it, we can attempt to add some of the techniques
# included in https://gist.github.com/gcarrion-gfrmedia/11396682.

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_shoryuken":
    mode: "000777"
    content: |
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      mkdir -p /var/app/support/pids
      mkdir -p /var/app/support/logs

      cd /var/app/current

      if [ -f /var/app/support/pids/shoryuken.pid ]
      then
        kill -TERM `cat /var/app/support/pids/shoryuken.pid`
        rm -rf /var/app/support/pids/shoryuken.pid
      fi

      if [ -f /var/app/support/pids/shoryuken-later.pid ]
      then
        kill -TERM `cat /var/app/support/pids/shoryuken-later.pid`
        rm -rf /var/app/support/pids/shoryuken-later.pid
      fi


      . /opt/elasticbeanstalk/support/envvars

      sleep 10

      bundle exec shoryuken-later \
        -R \
        -P /var/app/support/pids/shoryuken-later.pid \
        -C /var/app/current/config/shoryuken.yml \
        -L /var/app/support/logs/shoryuken-later.log \
        -d

      bundle exec shoryuken \
        -R \
        -P /var/app/support/pids/shoryuken.pid \
        -C /var/app/current/config/shoryuken.yml \
        -L /var/app/support/logs/shoryuken.log \
        -d


  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_shoryuken":
    mode: "000777"
    content: |
      if [ -f /var/app/support/pids/shoryuken.pid ]
      then
        kill -USR1 `cat /var/app/support/pids/shoryuken.pid`
        rm -rf /var/app/support/pids/shoryuken.pid
      fi

      if [ -f /var/app/support/pids/shoryuken-later.pid ]
      then
        kill -USR1 `cat /var/app/support/pids/shoryuken-later.pid`
        rm -rf /var/app/support/pids/shoryuken-later.pid
      fi
