.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item.active Monolith
    .col-12
      .card
        .card-block
          %h1.display-4
            Important: Monolith Area. Enter at your own risk
    .col-12
      %ul
        %li
          %a{href:monolith_invoices_path} Invoice Management
