- content_for(:head){ "Admin - Billings"}
.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{href:admin_path} Admin Console
        %li.breadcrumb-item.active Billings
  .row
    .col-12
      %h2 Golf Clubs
    .col-12
      %p Talk about monthly billings here
