- content_for(:head){ "Admin - Billings"}
.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{href:admin_path} Admin Console
        %li.breadcrumb-item.active Billing
  .row
    .col-12
      %h2 Billing
    .col-4
      .card
        %ul.list-group.list-group-flush
          %li.list-group-item
            %a{href:admin_invoices_path} Invoices
          %li.list-group-item
            %a{href:settings_admin_billings_path} Settings
    .col-8
      %p Summary of billings here
