- content_for(:head){ "Admin - Billings"}
.container
  .row
    .col-12
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{href:admin_path} Admin Console
        %li.breadcrumb-item.active Billing
  .row
    .col-12
      %h2 Billing
    .col-4
      .card
        %ul.list-group.list-group-flush
          %li.list-group-item
            %a{href:admin_invoices_path} Invoices
          %li.list-group-item
            %a{href:settings_admin_billings_path} Settings
    .col-8
      %h3 Latest Invoice
      %hr
      - if @invoice.nil? then
        %p No invoice(s) so far...
      - else
        %p
          %a{ href:admin_invoice_path(@invoice)}
            #{@invoice.billing_date} (#{number_to_currency(@invoice.total_billing, unit:"RM")})
