!!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1,shrink-to-fit=no'}
    %meta{:'http-equiv' => 'x-ua-compatible', :content => 'ie=edge'}
    %title JomGolf!!!
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css",
     integrity:"sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY", crossorigin:"anonymous"}
  %body
    .jumbotron.jumbotron-fluid{ :style => "height:90vh; background:url(/pre-release/bg1.png); background-size:cover; margin-bottom:0px; color:lightyellow; text-shadow:2px 2px 8px gainsbro;"}
      .container
        %h1.display-3.text-xs-center Jom Golf
        %p.lead.text-xs-center Your Golf World
        %p.text-xs-center Coming Soon
    .jumbotron.jumbotron-fluid{ :style => "height:90vh; background:url(/pre-release/bg2.png); background-size:cover; margin-bottom:0px; color:papayawhip; text-shadow:2px 2px 8px green;"}
      .container
        %h1.display-3.text-xs-center Follow Us
        %p.lead.text-xs-center Be informed of future updates!!
        %p.text-xs-center
          %a.twitter-follow-button{href:"https://twitter.com/jomgolf", 'data-show-count':"false"} Follow @jomgolf
          %script{async:true, src:"//platform.twitter.com/widgets.js", charset:"utf-8"}
        %p.text-xs-center
          %iframe{ src:"https://www.facebook.com/plugins/follow.php?href=http%3A%2F%2Fjomgolf.com.my%2F&width=0&height=80&layout=standard&size=small&show_faces=true&appId=1537541899874889",
           width:"0", height:"80", style:"border:none;overflow:hidden", scrolling:"no", frameborder:"0", allowTransparency:"true"}
