.jumbotron.jumbotron-fluid{ :style => "height:90vh; background:url(golfcourse1.jpg); background-size:cover; color:white; "}
  .container
    %h1.display-3 Jom Golf
    %p.lead Easily get your golf reservations
    .row
      = react_component "QueryForm", { crsfToken: form_authenticity_token, queryString:"",
        queryTarget: search_path,
        queryDate:params.has_key?(:date) ? params[:date] : "#{DateTime.now.strftime('%e/%m/%Y')}",
        queryTime:params.has_key?(:time) ?  params[:time] : (Time.now+1.hour).strftime("%H:%I") }
