.jumbotron.jumbotron-fluid{ :style => "height:90vh; background:url(golfcourse1.jpg); background-size:cover; color:white; "}
  .container
    %h1.display-3 Jom Golf
    %p.lead Easily get your golf reservations
    = render :template => "welcome/_queryForm.tpl.haml"
