.jumbotron.jumbotron-fluid{ :style => "height:90vh; background:url(golfcourse1.jpg); background-size:cover; color:white; "}
  .container
    %h1.display-3 Jom Golf
    %p.lead Easily get your golf reservations
    .row#query-form
      = react_component "QueryForm", { crsfToken: form_authenticity_token, queryString:"",
        queryTarget: search_path,
        queryDate:params.has_key?(:date) ? params[:date] : "#{1.day.from_now.strftime('%e/%m/%Y')}",
        queryTime:params.has_key?(:time) ?  params[:time] : "07:00" }
.container
  .row
    .col-xs-12.col-md-4
      %img.img-responsive.img-rounded{ src:'images/golf_club_join/front-page-icon.jpeg'}
    .col-xs-12.col-md-8{ :sytle => "min-height:256px; height:256px;"}
      .card.card-block
        %h4.card-title Golf Club Owner?
        %p Contact us to have your club listed
        %a.card-link.btn.btn-primary{ :href => join_golf_clubs_path } More Info
