.container
  .row
    .col-xs-12
      = render :template => "welcome/_queryForm.tpl.haml"
  .row{ :style => 'padding-top:15px;'}
    - @clubs.each do |club|
      = react_component "GolfCards", { crsfToken: form_authenticity_token,
        club: club[:club],
        paths: { img: "images/golf_course_#{rand(1..4)}.jpg", club:golf_club_path(club[:club][:id]), reserve:reserve_golf_club_user_reservations_path(club[:club][:id]) },
        prices:club[:prices]  ,
        teeTimes: club[:tee_times],
        flight: club[:flight].merge( { selectedPax:params[:pax], date:params[:date]})}
