- content_for(:head){ "Search results -"}
.container
  .row
    .col-xs-12
      = react_component "QueryForm", { crsfToken: form_authenticity_token,
        queryString:params.has_key?(:q) ? params[:q] : "",
        queryTarget: search_path,
        queryDate:params.has_key?(:date) ? params[:date] : "#{DateTime.now.strftime('%e/%m/%Y')}",
        queryTime:params.has_key?(:time) ?  params[:time] : (Time.now+1.hour).strftime("%H:%I"),
        queryPax:params.has_key?(:pax) ? params[:pax].to_i : 2,
        showSearchNav:true, collapseSearchForm:true }
  .row{ :style => 'padding-top:15px;'}
    - if @clubs.empty? then
      .col-xs-12
        %p.lead Sorry, no nothing found!
    - else
      .card-columns
        - @clubs.each do |club|
          = react_component "GolfCards", { crsfToken: form_authenticity_token,
            club: club[:club],
            paths: { img: "images/golf_course_#{rand(1..4)}.jpg", club:golf_club_path(club[:club][:id]), reserve:reserve_golf_club_user_reservations_path(club[:club][:id]) },
            queryData: club[:queryData],
            flights: club[:flights], insurance_modes:ChargeSchedule.insurance_modes.map{ |k,v| k},
            options: {GolfClubTimesShowPrices:false} }
