.container
  .row
    .card-columns
      - @clubs.each do |club|
        = react_component "GolfCards", { crsfToken: form_authenticity_token,
          club: club[:club],
          paths: { img: "images/golf_course_#{rand(1..4)}.jpg", club:golf_club_path(club[:club][:id]), reserve:reserve_golf_club_user_reservations_path(club[:club][:id]) },
          queryData: club[:queryData],
          flights: club[:flights], insurance_modes:ChargeSchedule.insurance_modes.map{ |k,v| k} }
