- content_for(:head){ "Join Us - "}
.jumbotron.jumbotron-fluid{ :style => "height:60vh; background-image:url(/images/golf_club_join/background.jpeg); background-size:cover; background-repeat:no-repeat; background-position:center; " }
  .container
.container
  .row
    .col-xs-12.col-md-10.offset-md-1
      %h1.card-title.display-1.text-xs-center.hidden-md-down{ style:'font-family:quicksand, sans-serif;'}
        %span{style:'color:#97dd63;' } JOM
        %span{style:'color:black; margin-left:-0.35rem;' } GOLF
      %h4.card-title.display-4.text-xs-center.hidden-lg-up{ style:'font-family:quicksand, sans-serif;'}
        %span{style:'color:#97dd63;' } JOM
        %span{style:'color:black; margin-left:-0.35rem;' } GOLF
      %p.lead JomGolf brings new ways to connect to your golfers. Connect with time-tested loyal customers and also the new golfers that would like to try something new. Open up golfing world to new horizons by connecting your course to the online world.
      %p.lead Attract new crowds by brining in new ones. Lorem Ipsum
  .row{ :style => "padding-top:25px;"}
    .col-xs-12.col-md-4
      %img.img-responsive.img-rounded{ :src => "/images/golf_club_join/join-icon1.jpeg" }
    .col-xs-12.col-md-8
      .card
        .card-block
          %h4.card-title.display-4.text-xs-center.hidden-md-down{ style:'font-family:quicksand, sans-serif;'}
            %span{style:'color:#97dd63;' } Attract.
            %span{style:'color:black; margin-left:-0.35rem;' } Easy.
            %span{style:'color:#97dd63;' } Secure
          %h4.card-title.display-4.text-xs-center.hidden-lg-up{ style:'font-family:quicksand, sans-serif; font-size:2.0rem;'}
            %span{style:'color:#97dd63;' } Attract.
            %span{style:'color:black; margin-left:-0.35rem;' } Easy.
            %span{style:'color:#97dd63;' } Secure
          %p.card-text Your booking staff may not work every hour of every day, but JomGolf can be for you 24/7, 365 days of the year. We can help you take bookings and orders for your club at every minute of the year. You will never have to loose a booking ever again by taking them online.
          %p.card-text Having an online schedule open, your golfers will be able to plan their day around you, have some lorem ipsum
  .row{ :style => "padding-top:25px;"}
    .col-xs-12.col-md-4.hidden-md-up
      %img.img-responsive.img-rounded{ :src => "/images/golf_club_join/join-icon2.jpeg" }
    .col-xs-12.col-md-8
      .card
        .card-block
          %h4.card-title.display-4.text-xs-center.hidden-md-down{ style:'font-family:quicksand, sans-serif;'}
            %span{style:'color:#97dd63;' } Seamless.
            %span{style:'color:black; margin-left:-0.35rem;' } Prompt
          %h4.card-title.display-4.text-xs-center.hidden-lg-up{ style:'font-family:quicksand, sans-serif; font-size:2.0rem;'}
            %span{style:'color:#97dd63;' } Seamless.
            %span{style:'color:black; margin-left:-0.35rem;' } Prompt
          %p.card-text We can take your club online in as little as 5 minutes. And customise them to make them stand our and fit your operating profile. Add in pictures and words to make the attractive. Your flight and pricing schedule can be customised to fit your business.
          %p.card-text Once online, you can monitor your bookings and see trends to help you better manage your club and attract golfers. Some Lorem Ipsum
    .col-xs-12.col-md-4.hidden-sm-down
      %img.img-responsive.img-rounded{ :src => "/images/golf_club_join/join-icon2.jpeg" }
