- content_for(:head){ "Join Us - "}
.jumbotron.jumbotron-fluid{ :style => "height:80vh; background-image:url(/images/golf_club_join/background-golfers.jpg); background-size:cover; background-repeat:no-repeat; background-position:center; " }
  .container
.container
  .row
    .col-xs-12.col-md-10.offset-md-1
      %h1.card-title.display-1.text-xs-center.hidden-md-down Your New Golfing World
      %h3.card-title.display-3.text-xs-center.hidden-lg-up Your New Golfing World
      %p.lead Tell why JomGolf is the greatest thing since discovery of fire. Lorem Ipsum.
      %p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .row{ :style => "padding-top:25px;"}
    .col-xs-12.col-md-4
      %img.img-responsive.img-rounded{ :src => "/images/golf_club_join/join-icon3.jpeg" }
    .col-xs-12.col-md-8
      .card
        .card-block
          %h3.card-title.display-3.text-xs-center.hidden-md-down Clubs on Call
          %h4.card-title.display-4.text-xs-center.hidden-lg-up Clubs on Call
          %p.card-text Tell how many clubs we have and it's growing every day with new clubs joining us everyday. Yada, Yada....
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .row{ :style => "padding-top:25px;"}
    .col-xs-12.col-md-4.hidden-md-up
      %img.img-responsive.img-rounded{ :src => "/images/golf_club_join/join-icon4.jpeg" }
    .col-xs-12.col-md-8
      .card
        .card-block
          %h3.card-title.display-3.text-xs-center.hidden-md-down Socially Networked
          %h4.card-title.display-4.text-xs-center.hidden-lg-up Socially Networked
          %p.card-text Reviews make the clubs better and others better. Yada yada
          %p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col-xs-12.col-md-4.hidden-sm-down
      %img.img-responsive.img-rounded{ :src => "/images/golf_club_join/join-icon4.jpeg" }
