%link{ href:"https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Amiko|Kaushan+Script|Lobster+Two|Quicksand:300", rel:"stylesheet"}
.container
  .row
    .col-xs-12
      %h1 logo test.....
      %img{ src:'/images/logo.png'}
      %p{style:"font-family: 'Amiko', sans-serif; font-size:32px; margin:-16px;"}
        %div{style:'color:#97dd63; display:inline-block; font-size:32px; font-family:"Amiko", sans-serif;'} JOM
        %strong{ style:'font-size:32px; font-family:"Amiko", sans-serif'} GOLF
      %img{ src:'/images/logo.png'}
      %p{style:"font-family: 'Alegreya Sans SC', sans-serif; font-size:45px; margin:-26px;"}
        %div{style:'color:#97dd63; display:inline-block; font-size:43px; font-family:"Alegreya Sans SC", sans-serif;'} JOM
        %strong{ style:'font-size:43px; font-family:"Alegreya Sans SC", san-serif;'} GOLF
      %img{ src:'/images/logo.png'}
      %p{style:"font-family: 'Kaushan Script', cursive; font-size:50px;"} JomGolf
      %img{ src:'/images/logo.png'}
      %p{style:"font-family: 'Lobster Two', cursive; font-size:50px;"} JomGolf
      %img{ src:'/images/logo.png'}
      %p{style:"font-family: 'Quicksand', sans-serif; font-size:50px; margin-top:-40px;"}
        %div{style:'color:#97dd63; display:inline-block; font-size:32px; font-family:"Quicksand", sans-serif;'} JOM
        %strong{ style:'font-size:32px; font-family:"Quicksand", sans-serif'} GOLF
