.container
  .row
    .col-12
      %h1.display-1 Privacy Policy
      %p Effective Date: DD-MM-YYYY
      %p
        JOMGOLF (“JG,” “we,” “our,” “us”) are committed to protecting the privacy of the users (“you,” “your”) of this site (“Website”). We collect personally identifiable information about you only with your permission. We respect your privacy and is committed to protecting the personal information you share with us. The purpose of this Privacy Policy is to set out the principles governing our use of personal information.
        %strong If you give us personal information, we will treat it according to this policy and in compliance with our governing law in Malaysia, the Personal Data Protection Act 2010 (“PDPA”).
      %p
        %strong Collection of personal information:
        If you are required to register in order to use a feature of this Web site or to complete an online application form (e.g. to obtain e-mail updates or online publications), or to register for a subscription service, we will collect personally identifiable information about you, such as your name, e-mail address, country of residence, and other information which you voluntarily submit.
      %p
        %strong Security: 
        We will use appropriate, commercially reasonable safeguards to maintain the confidentiality of your personal information. We will take appropriate technical and organizational measures to protect your personal information against (a) accidental or unlawful destruction, (b) accidental loss and (c) unauthorized alteration, disclosure or access.
      %p
        %strong Online tracking: 
        JG may collect information during your visit to our website through the use of online tracking technology. No personally identifiable data are collected in this process. Typically, we collect information about the number of visitors to the Web site, to each Web page and the originating domain name of the visitor's Internet Service Provider. This tracking technology enables us to track pages and content accessed and viewed by users on our websites. The use of these technologies is intended to be used to improve the usability, performance and effectiveness of the Web site.
      %p
        %strong Cookies: 
        A cookie is a text-only string of information stored on a user's hard drive that allows a website to remember them. For general users of the site, cookies are used only during a user session (to maintain a shopping cart, for instance) and are then deleted. We do use persistent cookies to identify users who take advantage of the customization features of this Website and to save this identification between site visits.
      %p
        %strong Authorized third-party agents:
        We also may share your personal information with authorized third-party agents or contractors in order to provide a requested service or transaction. For example, if we need to ship a publication to you, we must share your name and address with a shipping company. Another example is if you register for an event online, your personal information will be used to fulfill that request and may be shared with third parties involved with the event (a hotel, for instance). We will only provide third-party agents with the minimum amount of personal information necessary to complete the requested service or transaction.
      %p
        %strong Email: 
        If you send an email message to us, we will use your email address and other information you provide to respond to your request.
      %p
        %strong Subscriptions: 
        If you subscribe to one of our online publications, we use the information you provide to send you email updates. You can unsubscribe at any time by contacting our Webmaster, whose details are provided below.
      %p
        %strong Surveys: 
        The information we collect in online surveys is used for internal research purposes. In general, we do not divulge individual responses to surveys. Exceptions to this policy are noted when users access particular surveys. On occasion, we may share responses with a cosponsor that works with us to analyze the data; in this case, we expect the cosponsor to maintain the same level of confidentiality and security as employed by JG.
      %p
        %strong Third parties: 
        We do not sell or share personal information with third parties for their own separate use.
      %p
        %strong Legal requirements and illegal activities:
        We may respond to subpoenas, court orders, or legal process by disclosing your personal information and other related information, if necessary.
      %p
        %strong Accessing and updating: 
        If your personal information changes or if you no longer wish to receive a service, please let the us know by emailing us and we will correct, update or remove your details. You are entitled to see the information held about you for a small fee. If you wish to do this, please contact us.
      %p
        %strong Modification: 
        This privacy policy is subject to change. All changes will be posted on this Website and shall apply to information provided on or after the date of posting.
      %p
        If you have any questions about JG’s privacy practices, please contact us at
        %a{href:'mailto:enquiry@jomgolf.com.my'} enquiry@jomgolf.com.my
