- photos = GolfClub.find(2).photos.all.order(:sequence => :asc).limit(15)
.container
  .row
    .col-12
      %h3 Original
    .col-12
      .grid{ :data => { :'featherlight-gallery' => true, :'featherlight-filter' => 'a'}}
        .grid-sizer
        - photos.each_with_index do |photo, index|
          - if index == 0 then
            .grid-item.grid-item--width3
              %a{ :href => photo.avatar.url, :'data-caption' => photo.caption }
                %img{ :src => photo.avatar.thumb400.url }
          - elsif index < 13 then
            .grid-item{ :class => index == 0 ? "grid-item--width2" : ""}
              %a{ :href => photo.avatar.url, :'data-caption' => photo.caption }
                %img{ :src => photo.avatar.thumb200.url }
          - else
            %a.hidden-xs-up{ :href => photo.avatar.url, :'data-caption' => photo.caption}
.container
  .row
    .col-12
      %h3 Slick JS inside a modal
    .col-12
      %a.btn.btn-primary{href:'#slick-modal',data:{toggle:'modal'}} Click Modal
      #slick-modal.modal{data:{type:'slick'}}
        .modal-dialog
          .modal-body#slick-modal-content
            - photos.each do |photo|
              %img.mh-100{src: photo.avatar.url, data:{dismiss:'modal'}}
      #slick-modal-original.modal{data:{type:'slick'}}
        .modal-dialog.min-w-90.m-0.mx-auto
          .modal-body.p-0#slick-modal-content
            - photos.each do |photo|
              %img{src: photo.avatar.url, data:{dismiss:'modal'}, style:'max-height:100vh;'}
      %button#startPhotoSwipe.btn.btn-primary{type:'button'} Start PhotoSwipe
= render :file => "layouts/photoswipe.template"
- require 'fastimage'
.container
  .row
    .col-12
      %h3 photoswipe
    .col-12
      .card-columns-3.photo-swipe-gallery
        - photos.each_with_index do |photo, index|
          .card{style:'display:inline-block;'}
            %a{href:photo.avatar.url, data:{index:index, title:photo.caption,size:FastImage.size("https://localhost.localdomain:5000#{photo.avatar.url}").join("x")}}
              %img.w-100{src:photo.avatar.thumb400.url, data:{index:index}}
      %button.btn.btn-primary#start-photoswipe{type:'button'} Start Photoswipe
:javascript
  $('.slick').slick({
    centerMode:true
  });

  $('.modal[data-type="slick"]').on('shown.bs.modal', function(e){
    $('#slick-modal-content').slick();
  }).on('hide.bs.modal', function(e){
    $('#slick-modal-content').slick('unslick');
  });


  // try to do photo swipe stuff
  var openPhotoSwipe = function(){
    var pswpElement = document.querySelectorAll('.pswp')[0];
    var items = $('#gallery-1').find('a').map( (i,e) => {
      var obj = Object.assign({});
      var size = e.dataset.size.split('x');
      obj.w = size[0];
      obj.h = size[1];
      obj.src = e.getAttribute('href');
      obj.title=e.dataset.title;

      return obj;
    });

    console.log('items', items);
    var options = {index:0};

    var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();
  }

  $('#start-photoswipe').on('click', openPhotoSwipe);
