.container
  .col-xs-12
    %h1.display-1 Terms of Use
    %p This site is provided by JomGolf (“JG”) for informational purposes only. By accessing the site, you are indicating your acceptance of these Terms of Use.
    %p Your use of this site is at your own risk. The content is provided “as is” and without warranties of any kind, either expressed or implied. JG disclaims all warranties, including any implied warranties of merchantability, fitness for a particular purpose, title, or non-infringement. JG does not warrant that the functions or content contained in this site will be uninterrupted or error-free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or other harmful components. JG does not warrant or make any representation regarding use, or the result of use, of the content in terms of accuracy, reliability, or otherwise. The content may include technical inaccuracies or typographical errors, and JG may make changes or improvements at any time. You, and not JG, assume the entire cost of all necessary servicing, repair or correction in the event of any loss or damage arising from the use of this site or its content. JG makes no warranties that your use of the content will not infringe the rights of others and assumes no liability or responsibility for errors or omissions in such content.

    %h2 Intellectual Property Rights
    %p The material and content accessible from this site (“the Content”), is the proprietary information of JG and JG retains all right, title, and interest in the Content. This site, including all Content, is copyrighted and protected by international copyright laws and treaty provisions.

    %h2 Restrictions On Use
    %p You may use this site solely for personal, non-commercial purposes and not for any other purpose.
    You agree to use the Site solely for the use and benefit of you and your own organization, and not for resale or other transfer to, or use by or for the benefit of, any other person or entity. You agree not to use, transfer, distribute or dispose of any information contained in the Site in any manner that could compete with, or be detrimental to, the business of JG. You acknowledge that the Site has been developed, compiled, prepared, revised, selected and arranged by JG and others (including certain other information sources) through the application of methods and standards of judgment developed and applied through the expenditure of substantial time, effort and money and constitutes valuable intellectual property and trade secrets of JG and such others. No intellectual property rights are transferred to you by access to this site or otherwise. You agree to protect the proprietary rights of JG and all others having rights in the Site during and after the term of this agreement and to comply with all reasonable written requests made by JG or its suppliers of content, equipment or otherwise ("Suppliers") to protect their and others’ contractual, statutory and common law rights in the Site. You agree to notify JG in writing promptly upon becoming aware of any unauthorized access or use of the Site by any party or of any claim that the Site infringes upon any copyright, trademark or other contractual, statutory or common law rights.

    %h2 Further Restrictions on Use
    %p You may not copy, reproduce, recompile, decompile, disassemble, reverse engineer, distribute, publish, display, perform, modify, upload to, create derivative works from, transmit or in any way exploit any part of the site, except that you may download material from the site and/or print a reasonable number of copies for your personal use or use within your organization, provided that all copies retain all copyright and other proprietary notices.
    %p Without limiting the generality of the foregoing, the analysis and presentation included in the site may not be recirculated, redistributed or published by you without the company’s prior written consent. Modification of the site’s content is a violation of company’s copyright and other proprietary rights. You may not use any of the trade-names, trade-marks, site-marks and logos displayed on the site (collectively "marks"), except as expressly provided in these terms. Nothing appearing on the site or elsewhere shall be construed as granting, by implication, estoppel, or otherwise, any license or right to use any marks. You will not use the site, the information contained therein or any of company’s names or marks in unsolicited mailings or spam material and will not spam or send unsolicited mailings to any person or entity using the site.

    %h2 Third-party Sites
    %p This site is hyperlinked to other sites which are not maintained by, or related to, JG. Hyperlinks to such sites are provided as a service to you. JG has not reviewed the sites and is not responsible for the content of those sites. Other internet sites which are linked to the Site have their own terms and conditions of use and privacy policies. Access to any other Internet sites linked to the Site is at your own risk and JG expressly disclaims any and all liability related to such websites. Hyperlinks are accessed at your own risk, and JG makes no representations or warranties about the content, completeness or accuracy of the hyperlinks or the sites hyperlinked to this site.

    %h2 Linking and Framing
    %p Without specific, written consent by Company, you specifically may not link to this Site, either the home page or to any other page that is located one or several levels down from the home page ("deep link"), nor are you permitted to bring up or present content of this site within another website ("frame").

    %h2 Submissions
    %p JG will treat any personal information that you submit through this site in accordance with its Privacy Policy.

    %h2 Disclaimers
    %p You accept that JG does not guarantee or warrant that files available for downloading from the Internet will be free of viruses, worms, Trojan horses or other code that may manifest contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for accuracy of data input and output, and for maintaining a means external to this site for the reconstruction of any lost data. JG does not assume any responsibility or risk for your use of this site.

    %p All of the information in this site, whether historical in nature or forward-looking, speaks only as of the date the information is posted on this site, and JG does not undertake any obligation to update such information after it is posted or to remove such information from this site if it is not, or is no longer, accurate or complete.

    %p JG does not warrant the accuracy or completeness of the Content or the reliability of any advice, opinion, statement or other information displayed or distributed through the site.

    %h2 Not Professional Advice.
    %p The Content should not be used to replace any written reports, statements, or notices provided by JG. The information in this site does not constitute accounting, consulting, investment, legal, tax or any other type of professional advice, and should be used only in conjunction with appropriate professional advisors who have full knowledge of the user's situation. Professionals and other persons should use the Content in the same manner as any other educational medium and should not rely on the Content to the exclusion of their own professional judgment.

    %h2 Limitation On Liability
    %p JG, its subsidiaries, affiliates, licensors, service providers, content providers, employees, agents, officers, and directors will not be liable for any incidental, direct, indirect, punitive, actual, consequential, special, exemplary, or other damages, including loss of revenue or income, pain and suffering, emotional distress, or similar damages, even if JG has been advised of the possibility of such damages.

    %h2 Indemnity
    %p You will indemnify and hold JG, its subsidiaries, affiliates, licensors, content providers, service providers, employees, agents, officers, directors, and contractors (the “Indemnified Parties”) harmless from any breach of these Terms of Use by you, including any use of Content other than as expressly authorized in these Terms of Use. You agree that the Indemnified Parties will have no liability in connection with any such breach or unauthorized use, and you agree to indemnify any and all resulting loss, damages, judgments, awards, costs, expenses, and attorneys’ fees of the Indemnified Parties in connection therewith. You will also indemnify and hold the Indemnified Parties harmless from and against any claims brought by third parties arising out of your use of the information accessed from this site.

    %h2 Rights Reserved
    %p All present and future rights in and to trade secrets, patents, copyrights, trade names, trademarks, service marks, databases, know-how and other proprietary rights of any type under the laws of any governmental authority, domestic or foreign, including rights in and to all applications and registrations relating to the Site (the "IP Rights") shall, as between you and JG, at all times be and remain the sole and exclusive property of JG. All present and future rights in and title to the Site (including the right to exploit the Site and any portions of the Site over any present or future technology) are reserved to JG.

    %h2 Security
    %p JG reserves the right to fully cooperate with any law enforcement authorities or court order requesting or directing JG to disclose the identity of anyone posting any e-mail messages, or publishing or otherwise making available any materials that are believed to violate these Terms of Use. By accepting this agreement you waive and hold harmless JG from any claims resulting from any action taken by JG during or as a result of its investigations and/or from any actions taken as a consequence of investigations by either JG or law enforcement authorities.

    %h2 International Users and Choice of Law
    %p This site is controlled, operated and administered by JG from its office within Malaysia. If you access this site from a location outside of Malaysia, you are responsible for compliance with all local laws. These Terms of Use shall be governed by the laws of Malaysia, without giving effect to its conflict of laws provisions.

    %h2 Changes
    %p JG reserves the right, at its sole discretion, to change, modify, add or remove any portion of these Terms of Use in whole or in part, at any time. Changes will be effective when notice of such change is posted. Your continued use of the site after any changes to these Terms of Use are posted will be considered acceptance of those changes.

    %p JG may terminate, change, suspend or discontinue any aspect of the site, including the availability of any features of the site, at any time. JG may also impose limits on certain features and services or restrict your access to parts or all of the site without notice or liability.

    %h2 Miscellaneous
    %p If any part of these Terms of Use is unlawful, void or unenforceable, that part will be deemed severable and will not affect the validity and enforceability of any remaining provisions. These Terms of Use constitute the entire agreement among the parties relating to this subject matter. Notwithstanding the foregoing, any additional terms and conditions on this site will govern the items to which they pertain.

    %p
      Last updated: DD-MM-YYYY
      Copyright© 2016 JomGolf
