.jumbotron.jumbotron-fluid{ :style => "height:60vh; "}
  .container
.container
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      %h1.card-title.display-1 Clever Wording #1
      %p.lead
        This is the part where you pitch to golf club owners who happens to visit this site to contact us so
        we can list your golf club in the JomGolf.com
      %p.lead
        Otherwise, for the purpose for the demo, you just click
        %a{ :href => new_golf_club_path } here
  .row{ :style => "padding-top:25px;"}
    .col-xs-12.col-md-4
      %img.img-responsive.img-rounded{ :src => "http://placehold.it/256x256"}
    .col-xs-12.col-md-8
      .card
        .card-block
          %h1.card-title.display-3 Good Reason #2
          %p.card-text
            This is the part where you pitch to golf club owners who happens to visit this site to contact us so
            we can list your golf club in the JomGolf.com
  .row{ :style => "padding-top:25px;"}
    .col-xs-12.col-md-8
      .card
        .card-block
          %h1.card-title.display-3 Good Reason #3
          %p.card-text
            This is the part where you pitch to golf club owners who happens to visit this site to contact us so
            we can list your golf club in the JomGolf.com
    .col-xs-12.col-md-4
      %img.img-responsive.img-rounded{ :src => "http://placehold.it/256x256"}
