.container
  .row
    .col-xs-12
      %p
        This is the part where you pitch to golf club owners who happens to visit this site to contact us so 
        we can list your golf club in the JomGolf.com
      %p
        Otherwise, for the purpose for the demo, you just click
        %a{ :href => new_golf_club_path } here
