.container
  .row
    .col-12
      %h2 Proposal accepted
      %p You have accepted the proposed new time
      %a{href:user_reservation_path(current_user.id, @reservation.id), class:'btn btn-primary'} View Reservation
=begin
  More details later
=end
