.container
  .row
    .col-12
      %p Payment Failure
    .col-12
      %table.table
        %thead
          %tr
            %th ID
            %th Details
            %th Status
        %tbody
          - @reservations.each do |reservation|
            %tr
              %td #{ reservation.id }
              %td #{ link_to reservation.booking_time.strftime("%H:%M") + '@' + reservation.booking_date.to_s, user_reservation_path(reservation.user_id, reservation.id), :target => "_blank"}
              %td #{ reservation.status }
