- content_for(:head){"Reservation #{@reservation.token} - "}
.container
  .row
    .col-12.col-md-6
      = render partial: "body"
      .card.mb-2
        .card-header Review
        - if @review.nil? then
          - if @show_review_form then
            .card-body
              %p.card-text You haven't review this flight yet.
              %a.btn.btn-primary{ :href => new_user_review_path(current_user, {topic_id:@reservation.id, topic_type:"UserReservation"}) } Review
          - if @allow_to_review then
            .card-body
              %p.card-text You can give your review on this flight around 12 hours after the flight.
          - else
            .card-body
              %p.card-text You may not review this flight
        - else
          %ul.list-group.list-group-flush
            = react_component("ReviewCard", { review:@review})
            - if current_user.id == @review["user_id"] then
              %li.list-group-item
                %a.btn.btn-primary{ :href => edit_user_review_path(current_user, @review["id"],
                  {topic_id:@review["topic_id"],   topic_type:@review["topic_type"]})} Edit Review
