/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require jquery.timepicker.css
 *= require font-awesome
 *= require jquery.fileupload
 *= require featherlight
 *= require featherlight-gallery
 *= require snackbar
 *= require snackbar-material
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';


@font-face {
  font-family: quicksand;
  src: url('/fonts/quicksand.otf') format('opentype');
}

@font-face {
  font-family: "source sans pro";
  src: url('/fonts/source-sans-pro.otf') format('opentype');
}
@font-face {
  font-family: "source sans pro";
  src: url('/fonts/source-sans-pro-bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: "source sans pro";
  src: url('/fonts/source-sans-pro-it.otf') format('opentype');
  font-style: italic;
}
@font-face {
  font-family: "source sans pro";
  src: url('/fonts/source-sans-pro-boldit.otf') format('opentype');
  font-weight: bold; font-style: italic;
}

body{
  #font-family: "San Francisco", "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  #font-family: "Source Sans Pro", sans-serif;
  font-family: "source sans pro", sans-serif;
}

.card-columns {
  @include media-breakpoint-only(sm){
    column-count: 1;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
}

// handle cases where tab-content are inside card-columns
.card-columns .card .tab-content > .tab-pane{ display:none; }
.card-columns .card .tab-content > .active { display:block; }

.card-columns-original{
  @include media-breakpoint-only(sm){
      column-count: 1;
  }
  @include media-breakpoint-only(md){
      column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}

.table-responsive-conditional{
  @include media-breakpoint-down(md) {
    display: block;
    width: 100%;
    min-height: .01%;
    overflow-x: auto;
  }
  @include media-breakpoint-up(lg) {
    width: 100%;
    min-height: .01%;
    overflow-x: auto;
  }
}

.font-special{
    font-family: quicksand, sans-serif;
}

.toggle-style{
    background-image: none;
    border: none;
}

.text-reader{
    @include media-breakpoint-down(md){
        font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    @include media-breakpoint-up(lg){
        font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}

.fixed-top {
    position: fixed;
    top:10px;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img, .wp-caption>img, .wp-caption a>img {
     display: block;
     width: 100%;
     max-width: 100%;
     height: auto;
}

/* handle overflows */
.overflow-x-scroll{
  overflow-x: scroll;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.text-black{
  color:#292b2c;
}

.text-shadow {
  text-shadow: 0 0 3px black;
}

.text-shadow-white{
  text-shadow: 0 0 3px white;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.featherlight .legend {
  background: black;
  position: absolute;
  bottom: 0;
  font-size: larger;
  color: white;
  padding:4px;
}

/* google maps marker */
.centerMarker{
  position:absolute;
  /*url of the marker*/
  background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  /*center the marker*/
  top:50%;left:50%;

  z-index:1;
  /*fix offset when needed*/
  margin-left:-10px;
  margin-top:-34px;
  /*size of the image*/
  height:34px;
  width:20px;

  cursor:pointer;
}

/* for snackbar */
.snackbar.error {
  background-color: red;
}
.snackbar.alert {
  background-color: yellow;
  color: black;
}
.snackbar.notice {
  background-color: green;
}

/* for masonry */
.grid {
  max-width: 1200px;
}

.grid-sizer,
.grid-item { width: 16.667%; }
.grid-item { float: left; }
.grid-item img {
  display: block;
  max-width: 100%;
  width:100%;
}

.grid-item--width2 { width:  33.333%; }
.grid-item--width3 { width:  50%; }
.grid-item--width4 { width:  66.667%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

/* for autocomplete suggestion */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/* blink text */
.blink{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
