.card
  .card-block
    %p.card-text
      Welcome #{ @email} !
    %p.card-text
      You can confirm your account email through the link below!!
    %a.card-link.btn.btn-primary{ :href => confirmation_url(@resource, confirmation_token:@token)} Confirm My Account
%p Thank You,
%p JomGolf
