- content_for(:head){ "#{@club.name} Reviews -" }
.container
  .row
    .col-xs-12
      %ol.breadcrumb
        %li
          %a{ :href => golf_club_path(@club)} #{@club.name}
        %li.active Reviews
  .row
    .col-xs-12.col-md-8
      = react_component "ReviewList", {reviews_path:golf_club_reviews_path(@club), showHeader:true, linkHeader:false}
