- content_for(:head){"Edit Review for something - "}
.container
  .row
    .col-xs-12.col-md-6
      %h2 Your Review
      = react_component "ReviewForm", {crsfToken:form_authenticity_token, topic_id:params[:topic_id], topic_type:params[:topic_type],
        action:{path:user_review_path(current_user, @review["id"]), method:"PATCH"}, review:@review}
