.modal.fade#login-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ :type => 'button', :'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title Login
      .modal-body
        %a.btn.btn-secondary{ :href => user_facebook_omniauth_authorize_path }
          %i.fa.fa-facebook-square.fa-3x
        Login with Facebook
        %hr
        = form_tag session_path(:user), :class => "form-inline" do
          .form-group
            %input.form-control{ :type => "user[email]", :type => "text", :placeholder => "email"}
            %input.form-control{ :type => "user[password]", :type => "password", :placeholder => "password"}
            %label
              %input{ :type => "checkbox", :name => "user[remember_me]"}
              Remember Me
            %br
            %br
          %button.btn.btn-secondary Sign in
        = link_to "Forgot your password?", new_password_path(:user)
        or
        = link_to "Sign Up",  new_user_registration_path
      .modal-footer
        %button.btn.btn-secondary{ :type => "button", :'data-dismiss' => 'modal'} Close
