.modal.fade#login-modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ :type => 'button', :'data-dismiss' => 'modal'}
          %span &times;
        %h4.modal-title Login
      .modal-body
        %a.btn.btn-secondary{ :href => user_facebook_omniauth_authorize_path }
          %i.fa.fa-facebook-square.fa-3x
        Login with Facebook
        %hr
        = form_tag session_path(:user)  do
          .form-group.row
            .col-12.col-md-6
              %input.form-control.mb-2{ :name => "user[email]", :type => "email", :placeholder => "email"}
            .col-12.col-md-6
              %input.form-control{ :name => "user[password]", :type => "password", :placeholder => "password"}
          .form-group.row
            .col-12
              %label
                %input{ :type => "checkbox", :name => "user[remember_me]"}
                Remember Me
          %button.btn.btn-secondary{type:'submit'} Sign in
          = link_to "Forgot your password?", new_password_path(:user)
        %hr
        = link_to "Sign Up",  new_user_registration_path
      .modal-footer
        %button.btn.btn-secondary{ :type => "button", :'data-dismiss' => 'modal'} Close
